<section>
  <a href="/dashboard" class="right"> &larr; Back To Dashboard</a>
  <h2 class="title text-center text-4xl">Create a New Cod Blog Post</h2><hr />

  <form class="new-blog-form text-center mt-48">
    <div>
      <label for="blog-title">Title Your Cod Blog:</label>
      <input
        class="input"
        type="text"
        id="blog-title"
        name="blog-title"
        placeholder="Blog Title"
      />
    </div>
    <div>
      <label for="blog-content">Cod Blog Content:</label>
      <input
        class="textarea is-large"
        id="blog-content"
        name="blog-content"
        placeholder="Blog content here"
      />
    </div>
    <a><button type="submit" class="button bg-green-500">Post Blog</button></a>
  </form>
</section>

<script src="/js/add-blog.js"></script>