<section>

  <h2 class="title text-center text-4xl bg-purple-400 font-bold">List of Current
    Top Games:</h2><hr />

  <div
    class="float-left mt-24 ml-48 text-3xl flex"
    id="Games"
    style="border-bottom:1px solid;"
  >Game Title</div>
  <div
    class="float-right mt-24 mr-48 text-3xl flex"
    id="gameThumb"
    style="border-bottom:1px solid;"
  >Covers</div>

</section>

<script src="/js/add-blog.js"></script>