<section>
  <a href="/dashboard" class="right"> &larr; Back To Dashboard</a>
  <h2 class="title">Create a New Blog</h2><hr />

  <form class="new-blog-form">
    <div>
      <label for="blog-title">title:</label>
      <input
        class="input"
        type="text"
        id="blog-title"
        name="blog-title"
        placeholder="Blog Title"
      />
    </div>
    <div>
      <label for="blog-content">Content:</label>
      <input
        class="textarea is-large"
        id="blog-content"
        name="blog-content"
        placeholder="Blog content here"
      />
    </div>
    <button type="submit" class="button">Create New Blog</button>
  </form>
</section>

<script src="/js/add-blog.js"></script>