    <div class="">
        <a href="/dashboard/create/"><button id="create-blog" class="button is-primary ">Create blog</button></a>
        
        <h2 class="title">Dashboard: Your blogs</h2><hr>
{{#if blogs.length}}
    </div>

    {{#each blogs as |blog|}}
        {{> blog-info blog}}
        
            <a href="/dashboard/edit/{{blog.id}}"><button class="button">Edit Blog</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="">You do not have any blogs</h6>

{{/if}}


