<h6 class="title streams text-center text-4xl bg-purple-400 font-bold">Top
  Streams Here:</h6>
<!-- Titles Start Here -->
<div
  style="display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%; overflow: hidden;"
>
  <div
    class="flex float-left text-3xl bg-black-500 mt-24 ml-12"
    style="border-bottom:1px solid;"
  >Streamer</div>

  <div
    class="flex text-3xl bg-black-500 mt-24 text-center"
    style="border-bottom:1px solid;"
  >Info</div>

  <div
    class="flex float-right text-3xl mt-24 mr-12"
    style="border-bottom:1px solid;"
  >Clips</div>

</div>
<!-- Titles End Here -->

<div
  style="display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%; overflow: hidden;"
>
  <!-- Stream 1 Styles Here -->
  <div
    id="streamName1"
    class="flex float-left text-2xl bg-black-500 mt-24 ml-12"
  ></div>
  <div
    id="streamView1"
    class="flex text-1xl bg-black-500 mt-24 text-center"
  ></div>
  <div
    id="clipView1"
    class="flex text-1xl bg-black-500 float-right mt-24 mr-12"
  >Clip Here</div>

</div>
<!-- Stream 2 Styles Here -->
<div
  style="display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%; overflow: auto;"
>
  <div
    id="streamName2"
    class="flex float-left text-2xl bg-black-500 mt-24 ml-12"
  ></div>
  <div
    id="streamView2"
    class="flex text-1xl bg-black-500 mt-24 text-center"
  ></div>
  <div
    id="clipView2"
    class="flex text-1xl bg-black-500 float-right mt-24 mr-12"
  >Clip Here</div>
</div>
<!-- Stream 3 Styles Here -->
<div
  style="display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%; overflow: auto;"
>
  <div
    id="streamName3"
    class="flex float-left text-2xl bg-black-500 mt-24 ml-12"
  ></div>
  <div
    id="streamView3"
    class="flex text-1xl bg-black-500 mt-24 text-center"
  ></div>
  <div
    id="clipView3"
    class="flex text-1xl bg-black-500 float-right mt-24 mr-12"
  >Clip Here</div>
</div>

<!-- Stream Info Here -->
<!-- Streamer Viewers Here -->

<!-- Stream Clip Here -->
<!-- <div id="streamClip"></div> -->

<!-- Insert Pulled Data Here -->

{{#each blogs as |blog|}}

  <div>{{blog}}</div>

{{/each}}

<script src="/js/streams.js"></script>