<h6 class="title streams text-center text-4xl bg-purple-400 font-bold">Top
  Streams Here:</h6>
<div
  class="flex float-left text-3xl bg-black-500 mt-24 ml-48"
  style="border-bottom:1px solid;"
  id="streamName"
>Streamer</div>

<div
  class="flex float-right text-3xl mt-24 mr-48"
  id="streamClip"
  style="border-bottom:1px solid;"
>Clips</div>

<!-- Insert Pulled Data Here -->

{{#each blogs as |blog|}}

  <div>{{blog}}</div>

{{/each}}

<script src="/js/streams.js"></script>