<div class="column text-center">
  <h2 class="title text-4xl text-center">Login:</h2><hr />
  <form class="login-form">
    <div class="mt-48">
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <a><button type="submit" class="button bg-green-500">Login</button></a>

    </div>
    <p>Don't have an account?</p>
    <a href="/signup"><button type="button" class="button">Signup Here</button></a>
  </form>
</div>

<!-- javascript file-->
<script src="/js/login.js"></script>