* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:hover {
  color: #3486eb;
}

button {
  border: 0;
  padding: 1%;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

.blog-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
h1 {
  display: flex;
  align-items: center;
  color: black;
}
article {
  align-items: center;
}
.search_block_button {
  flex-grow: 1;
  margin-top: 4px;
  width: 50px;
  background: #52bafe;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #0a2739;
  font-size: 12px;
  display: inline-block;
  font-weight: bold;
  cursor: hand;
  border-radius: 0px 5px 5px 0px;
}
.search_block {
  flex-grow: 1;
  min-width: calc(100% - 100px);
  overflow: auto;
  margin-top: 4px;
  border-radius: 5px 0px 0px 5px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

/*.delete-blog-btn {
}*/

/*.delete-blog-btn:hover {
}*/

.blog {
  margin-bottom: 2%;
  line-height: 150%;
}

.blog .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.edit-blog-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.rows {
  display: flex;
  flex-direction: column;
}
.nameStyle1 {
  display: flex float-left;
  padding-top: 15%;
  padding-left: 17%;
  font-size: 24px;
}
.nameStyle2 {
  display: flex float-left;
  padding-top: 15%;
  padding-left: 17%;
  font-size: 24px;
}
.nameStyle3 {
  display: flex float-left;
  padding-top: 15%;
  padding-left: 17%;
  font-size: 24px;
}
