* {
  box-sizing: border-box;
}
main {
  flex: 1;
  padding: 2% 4%;
  background-color: #4b0f80;
  color: white;
}
.login-form p a signupLogin {
  color: black;
}
.login-form p a signupLogin:hover {
  color: black;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #330a56;
}

.homeBtn {
  background-color: #ffffff26;
}
.loginBtn {
  background-color: #9147ff;
  color: white;
}

a {
  text-decoration: none;
  font-weight: bold;
}
.login-form input {
  color: black;
}

a:hover {
  background-color: #ffffff1c;
}
.loginBtn:hover {
  background-color: #9147ff94;
}

button {
  border: 0;
  padding: 1%;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

.blog-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  color: white;
  background-color: #18181b;
}

.streamsTitle {
  background-color: #9147ff;
}

h1 {
  display: flex;
  align-items: center;
  color: white;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

/*.delete-blog-btn {
}*/

/*.delete-blog-btn:hover {
}*/

.blog {
  margin-bottom: 2%;
  line-height: 150%;
  color: #330a56;
}

.blog .title span {
  font-style: italic;
  font-size: 90%;

  color: #330a56;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.edit-blog-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  background-color: #18181b;
  color: white;
}
.signupBtn {
  background-color: #9147ff;
}
.signupBtn:hover {
  background-color: #9147ff94;
}
.logoutBtn {
  background-color: #9147ff;
}
.logoutBtn:hover {
  background-color: #9147ff94;
}

.searchTitle {
  background-color: #9147ff;
}
.favTitle {
  background-color: #9147ff;
}
.loginBtnAccept {
  background-color: #9147ff;
}
.loginBtnAccept:hover {
  background-color: #9147ff94;
}

.card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.rows {
  display: flex;
  flex-direction: column;
}
/*Usernames Start*/

/*Usernames End*/

/*Viewers Start*/

/*Viewers End*/

.clipView {
  overflow: hidden;
  border: solid 3px black;
}
.signup-form input {
  color: black;
}

/*Resizes the Search bar*/
/*makes a border around the serch bar and rounds the edges*/
.searchStreamer input {
  width: 60%;
  border: 3px solid black;
  background-color: #ffffff26;
  padding: 15px;
  height: 40px;
  border-radius: 5px 5px 5px 5px;
  color: black;
}
.searchStreamer input:focus {
  width: 60%;
  border: 3px solid #a96ffe;

  background-color: black;

  padding: 15px;
  height: 40px;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

/*Search button colorizes it and rounds edges and changes size*/
.searchStream {
  width: 40px;
  height: 40px;
  border: 3px solid black;
  background: #ffffff33;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff33;
  cursor: pointer;
  font-size: 20px;
}
